<div>
  {{#each model.posts as |post|}}
    {{post-tile post=post}}
  {{/each}}
</div>


<h2>Testing comments</h2>
<ul>
{{#each model.comments as |comment|}}
  <li>{{comment.name}} - {{comment.content}}</li>
{{/each}}
</ul>
